* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
}

#marcador {
  height: 100px;
  display: flex;
  margin-left: 10px;
  border-right: 1px solid #000;
}

#marcador section {
  width: 83px;
  border-left: 1px solid #000;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-bottom: 1px solid #000;
}

#marcador section>i, #marcador section header {
  width: 100%;
  height: 50%;
}

#marcador section>header {
  display: flex;
}

#marcador section>header i {
  width: 50%;
}

#marcador section>header i:nth-child(3), #marcador section>header i:nth-child(2) {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.repuesto {
  width: 0 !important;
  height: 0;
  border-right: 40px solid black;
  border-top: 40px solid transparent;
}
#marcador section:last-child .cuadro2.repuesto{
  border-top: 49px solid transparent;
}
.strike{
  background-color: #000 !important;
}

#btn{
  margin: 10px;
  padding: 10px 25px;
  background-color: #353567;
  color: #FFF;
  border: 1px solid;
  border-radius: 8px;
  outline: none;
}